.card_user {
  width: 210px;
  /* height: 330px; */
  margin: auto;
  /* align-items: center; */
  /* border: 1px solid red; */
  padding: 10px 10px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.user_image {
  height: 80%;
  width: 98%;
}
.detail_user {
  height: 40px;
  font-weight: bold;

  padding: 1%;
}

.food_container_user {
  padding: 10px;
  width: 88%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  height: 90vh;
  overflow-y: scroll;
  justify-content: space-around;
  row-gap: 10px;
}

.food_container_user::-webkit-scrollbar {
  display: none;
}

.logo_image {
  height: 40px;
}

.user_nav {
  width: 88%;
  margin: auto;
}
.input_user {
  width: 60%;
  padding: 4px 0px 4px 0px;
}
.logo_container {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
  align-items: center;
  padding: 2px;
}
